@using TestingAndCertificationSystem.Resources;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestingAndCertificationSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-feather-alt orange2"></i>
                    Testing and Certification
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav flex-grow-1">

                            @if (User.IsInRole(Roles.CompanyAdmin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Company
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Company" asp-action="Moderators">Moderators</a>
                                        <a class="dropdown-item" asp-controller="Company" asp-action="SearchModerators">Add new moderator</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Edit">Company info</a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole(Roles.CompanyAdmin) || User.IsInRole(Roles.CompanyModerator))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tests
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Tests" asp-action="Tests">Tests</a>
                                        <a class="dropdown-item" asp-controller="Tests" asp-action="CreateTest">Add a new test</a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole(Roles.User) || User.IsInRole(Roles.CompanyModerator))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark" asp-controller="Tests" asp-action="UserAttempts">
                                        Test attempts
                                    </a>
                                </li>
                            }

                            <li class="nav-item dropdown" style="margin-left:auto">
                                <a class="nav-link text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Profile"><b>@User.Identity.Name</b></a>
                                    <div class="dropdown-divider"></div>
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <input class="dropdown-item" type="submit" value="Logout" />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav" style="margin-left:auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sign Up
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RegistrationAsUser">As user</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RegistrationAsCompany">As company</a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
