@model TestingAndCertificationSystem.ViewModels.TestViewModel
@{
    ViewBag.Title = "Creating test";
}
        
<form asp-action="CreateTest" asp-controller="Tests">
    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DurationInMinutes" class="control-label">Duration in minutes</label>
        <input type="number" asp-for="DurationInMinutes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Certificate" class="control-label">Certificate</label>
        <input type="checkbox" asp-for="Certificate" class="form-check" />
    </div>
    <div class="form-group">
        <label asp-for="Instruction" class="control-label">Instruction</label>
        <input type="text" asp-for="Instruction" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsPrivate" class="control-label">Is private</label>
        <input type="checkbox" asp-for="IsPrivate" class="form-check" />
    </div>
    <div class="form-group">
        <label asp-for="PassingMarkInPercents" class="control-label">Mark</label>
        <input type="number" asp-for="PassingMarkInPercents" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Continue" class="btn btn-primary" />
    </div>
</form>
