@model TestingAndCertificationSystem.AdditionalTask
@{
    ViewBag.Title = "Create additional task";
}
@{
    var testid = Context.Request.Query["testId"];
}

<div class="col-md-10">
    <h2 class="text-gradient-orange2">Create additional task</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-caret-left orange1"></i>
    <a class="btn-link orange1" asp-controller="Tests" asp-action="TestInfopage" asp-route-testId="@testid">
        Back to test information
    </a>
    <br />
    <br />

    <form asp-action="CreateAdditionalTask" asp-controller="Tests">
        <div asp-validation-summary="All" class="alert-danger"></div>

        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Name</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Description</label>
            <textarea type="text" asp-for="Description" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Text</label>
            <textarea type="text" asp-for="Text" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Expiration Date</label>
            <input type="date" asp-for="ExpirationDate" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" , asp-route-testId="@testid" />
        </div>
    </form>

</div>