@model TestingAndCertificationSystem.Test
@{
    ViewBag.Title = "Edit test";
}

<div class="col-md-10">
    <h2 class="text-gradient-orange2">Edit test</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-caret-left orange1"></i>
    <a class="btn-link orange1" asp-controller="Tests" asp-action="TestInfopage" asp-route-testId="@TempData["testId"]">
        Back to test information
    </a>
    <br />
    <br />

    @if (ViewBag.successMessage != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.successMessage
        </div>
    }

    <form asp-action="EditTest" asp-controller="Tests">
        <div asp-validation-summary="All" class="alert-danger"></div>

        <input type="text" asp-for="Id" class="form-control" readonly="readonly" hidden="hidden" />
        <input type="text" asp-for="TestAuthorId" class="form-control" readonly="readonly" hidden="hidden" />

        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Name</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Short description</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Duration in minutes</label>
            <input type="number" asp-for="DurationInMinutes" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Instruction</label>
            <input type="text" asp-for="Instruction" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Is private</label>
            <input type="checkbox" asp-for="IsPrivate" class="form-check" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Certificate</label>
            <input type="checkbox" asp-for="Certificate" class="form-check" />
        </div>
        <div class="form-group">
            <label class="control-label text-gradient-orange2 font-weight-bold">Required grade (in percents)</label>
            <input type="number" asp-for="PassingMarkInPercents" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </form>
</div>
