@model IEnumerable<TestingAndCertificationSystem.ViewModels.CreateTestViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("CompanyAdmin"))
{
    <p>Admin of company</p>
}
@if (User.IsInRole("CompanyModerator"))
{
    <p>Moderator of company</p>
}
@if (User.IsInRole("User"))
{
    <p>User</p>
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}

