@using TestingAndCertificationSystem.Resources

@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole(Roles.CompanyAdmin))
{
    <p>Admin of company</p>
}
@if (User.IsInRole(Roles.CompanyModerator))
{
    <p>Moderator of company</p>
}
@if (User.IsInRole(Roles.User))
{
    <p>User</p>
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}

